<!-- (videoEnded)="onVideoEnded()"> -->
<div class="debbyLedetJEYiaGwmkdkUnsplash1"></div>
<div class="rectangle43"></div>
<div class="isPerforming">ARE RATING</div>
<div class="rOUND1">ROUND 1</div>
<div class="josephGonzalezIFgRcqHznqgUnspl"></div>
<div class="josephGonzalezIFgRcqHznqgUnsp2"></div>
<!-- <div class="vector"><img src="assets/vector-icon.svg" alt="" class="icon" /></div>
<div class="_3">3</div> -->
<div class="lOGOALONECLEAR2"></div>
<div class="vector2"><img src="assets/vector-icon2.svg" alt="" class="icon2" /></div>
