<div class="rectangle6"></div>
<div class="adele__Rolling_in_the_Deep2"></div>
<div class="lines"><img src="assets/lines-icon.svg" alt="" class="icon" /></div>
<div class="_211871_pause_icon1"><img src="assets/211871pauseicon-1-icon.svg" alt="" class="icon2" /></div>
<div class="_3669229_skip_ic_next_icon1">
  <img src="assets/3669229skipicnexticon-1-icon.svg" alt="" class="icon3" />
</div>
<div class="_3669228_skip_previous_ic_icon1">
  <img src="assets/3669228skippreviousicicon-1-ic.svg" alt="" class="icon4" />
</div>
<div class="adele__Rolling_in_the_Deep3"></div>
<div class="rollingInTheDeep">Rolling In The Deep</div>
<div class="adele">Adele</div>
<div class="_10353">1:00/3:53</div>
<div class="hintYouCanSkipPlayPauseWithGes">Hint : You can skip/play/pause with gestures.</div>
