<!-- <div class="joshuaOluwagbemigaQZ9cVpMUpZ4U"></div>
<div class="rATINGTIME">RATING TIME</div>
<div class="_1">1</div>
<div class="rectangle25"></div>
<div class="_3">3</div>
<div class="_2">2</div>
<div class="_4">4</div>
<div class="_5">5</div>
<div class="rectangle7"></div>
<div class="nEXT">NEXT</div>
<div class="lOGOALONECLEAR2"></div> -->
<!-- your-page.component.html -->
<!-- 
 <div class="page-container">
    <input type="text" [(ngModel)]="userInput" placeholder="Type something...">
  </div>  -->

  
  <!-- sender.component.html -->

<!-- sender.component.html -->
<div class="maximBergM8HFXJ1btZ0Unsplash1"></div>
<div class="rectangle43"></div>
<div class="lOGOALONECLEAR2"></div>
<div class="rectangle54"></div>
<div class="rectangle56"></div>

<div class="rectangle542"></div>
<div class="rectangle562"></div>

<div class="rectangle543"></div>
<div class="rectangle563"></div>

<div class="rectangle544"></div>
<div class="rectangle564"></div>

<div class="rectangle545"></div>
<div class="rectangle565"></div>

<div class="rATINGTIME">RATING TIME</div>

<!-- <div class="page-container">
  <form (submit)="sendMessage()">
    <label for="userInput">Type something:</label>
    <input type="text" id="userInput" name="userInput" [(ngModel)]="userInput" placeholder="Type something..." required>
    <button type="submit">Send Message</button>
  </form>
</div> -->


<div class="page-container">
  <!-- Buttons for numbers 1 to 10 -->
  <button class="_1" type="button" (click)="sendMessage(1)">1</button>
  <button class="_2" type="button" (click)="sendMessage(2)">2</button>
  <button class="_3" type="button" (click)="sendMessage(3)">3</button>
  <button class="_4" type="button" (click)="sendMessage(4)">4</button>
  <button class="_5" type="button" (click)="sendMessage(5)">5</button>
  <button class="_6" type="button" (click)="sendMessage(6)">6</button>
  <button class="_7" type="button" (click)="sendMessage(7)">7</button>
  <button class="_8" type="button" (click)="sendMessage(8)">8</button>
  <button class="_9" type="button" (click)="sendMessage(9)">9</button>
  <button class="_10" type="button" (click)="sendMessage(10)">10</button>

  <!-- Removed the form element since there's no text input -->
</div>
