<div class="rectangle15"></div>
<div class="rollingInTheDeep">7/7</div>
<div class="adele">Ιουλία Καλλιμάνη</div>
<div class="singingNow">Singing now</div>
<div class="rectangle19"></div>
<!-- <div class="rectangle18"></div> -->
<div class="adele__Rolling_in_the_Deep1"></div>

<div class="josephGonzalezIFgRcqHznqgUnspl"></div>


<div class="page-container">
    <video controls [autoplay]="true" width="1920px" height="1080px" (ended)="redirectToSecondScreen()">
      <source src="assets/efta.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>