<div class="content">
<div class="pOPULARALBUMS">POPULAR ALBUMS</div>
<div class="the_Eminem_Show1"></div>
<div class="madclip3"></div>
<div class="tHEEMINEMSHOW">THE EMINEM SHOW</div>
<div class="sUPPERTR">SUPPER TR</div>
<div class="pOPULARSONGS">POPULAR SONGS</div>
<div class="rackSaskeNasaOffbeatRecordsBcc"></div>
<div class="humble_kendrick_lamar1"></div>
<div class="nASA">NASA</div>
<div class="hUMBLE">HUMBLE</div>
<div class="pOPULARARTISTS">POPULAR ARTISTS</div>
<div class="saske700x7001"></div>
<div class="_6drake2MediumSquareAt3X1"></div>
<div class="bxArrowBack1"></div>
<div class="fAVORITES">FAVORITES</div>
<div class="rECOMENDED">RECOMENDED</div>
<div class="rectangle29"></div>
<div class="icons8Search1"><img src="assets/icons8-search-1-icon.svg" alt="" class="icon" /></div>
<div class="vector"><img src="assets/vector-icon4.svg" alt="" class="icon2" /></div>
<div class="lOGOALONECLEAR2"></div>
</div>
<!-- your-component.component.html -->
<button (click)="navigateToPage8()" class="sticky-button"  [class.sticky-button-hidden]="!isButtonVisible" (click)="scrollToTop()" >RANDOM</button>
<!-- <button (click)="navigateToPage8()" class="random">RANDOM</button> -->

