<div class="maximBergM8HFXJ1btZ0Unsplash1"></div>

 <div class="rectangle43"></div>
<div class="_5">3</div>
<div class="userRegular21"></div>
<div class="vector"><img src="assets/vector-iconp.svg" alt="" class="icon" /></div>
<div class="lobby">Lobby</div>
<div class="wAITINGFORPLAYERS">WAITING FOR PLAYERS....</div>
<div class="josephGonzalezIFgRcqHznqgUnspl" [style.background-image]="'url(' + photo + ')'" ></div> 
<div class="josephGonzalezIFgRcqHznqgUnsp2" [style.background-image]="'url(' + photo2 + ')'" ></div> 
<div class="josephGonzalezIFgRcqHznqgUnsp3" [style.background-image]="'url(' + photo3 + ')'" ></div> 
<!-- <div class="nikos">Nikos</div> -->
<button (click)="redirectToSecondScreen()" class="sTART">START</button>
<div class="cODE4532">CODE: 4532</div>
<div class="bxArrowBack1"></div>
<div class="lOGOALONECLEAR2"></div>
<div class="vector7"><img src="assets/vector-icon7.svg" alt="" class="icon7" /></div>
