<div class="claudiaRayaOl0wJhWu3SUnsplash1"></div>
<div class="rectangle38"></div>
<div class="gAMESETTINGS">GAME SETTINGS</div>
<div class="pARTYSIZE">PARTY SIZE</div>
<div class="rectangle39"></div>
<div class="ellipse39"><img src="assets/ellipse-39-icon.svg" alt="" class="icon" /></div>
<div class="_211863_minus_round_icon1"><img src="assets/211863minusroundicon-1-icon.svg" alt="" class="icon2" /></div>
<div class="ellipse40"><img src="assets/ellipse-40-icon.svg" alt="" class="icon3" /></div>
<div class="_134224_add_plus_new_icon1"><img src="assets/134224addplusnewicon-1-icon.svg" alt="" class="icon4" /></div>
<div class="unnamed">0</div>
<div class="rOUNDS">ROUNDS</div>
<div class="rectangle392"></div>
<div class="ellipse392"><img src="assets/ellipse-39-icon2.svg" alt="" class="icon5" /></div>
<div class="_211863_minus_round_icon12"><img src="assets/211863minusroundicon-1-icon2.svg" alt="" class="icon6" /></div>
<div class="ellipse402"><img src="assets/ellipse-40-icon2.svg" alt="" class="icon7" /></div>
<div class="_134224_add_plus_new_icon12">
  <img src="assets/134224addplusnewicon-1-icon2.svg" alt="" class="icon8" />
</div>
<div class="unnamed2">0</div>
<div class="duet">Duet</div>
<div class="rectangle393"></div>
<div class="rectangle52"></div>
<div class="off">off</div>
<div class="on">on</div>
<div class="teams">teams</div>
<div class="rectangle394"></div>
<div class="ellipse393"><img src="assets/ellipse-39-icon3.svg" alt="" class="icon9" /></div>
<div class="_211863_minus_round_icon13">
  <img src="assets/211863minusroundicon-1-icon3.svg" alt="" class="icon10" />
</div>
<div class="ellipse403"><img src="assets/ellipse-40-icon3.svg" alt="" class="icon11" /></div>
<div class="_134224_add_plus_new_icon13">
  <img src="assets/134224addplusnewicon-1-icon3.svg" alt="" class="icon12" />
</div>
<div class="unnamed3">0</div>
<div class="rectangle7"></div>
<div class="createGame">create game</div>
<div class="vector"><img src="assets/vector-icon2.svg" alt="" class="icon13" /></div>
