:host,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  flex-shrink: 0;
  text-decoration: none;
  min-width: 0;
  overflow-wrap: anywhere;
}

:host,
:not(span, a, ul, ol, li, p) {
  display: flex;
}

ul,
ol {
  text-indent: 0;
  padding-inline-start: 1.5em;
}

p:empty::before {
  content: '';
  display: inline-block;
}

img {
  object-fit: contain;
}

svg {
  overflow: visible;
}

:host {
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  background-image: linear-gradient(180deg, #0f022aff 0%, #2d1265ff 50%, #0f022aff 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  overflow-y: auto;
  overflow-x: hidden;
}
.claudiaRayaOl0wJhWu3SUnsplash1 {
  position: absolute;
  left: -221px;
  top: -52px;
  width: 663px;
  height: 995px;
  background-image: url('/assets/claudiaRayaOl0wJhWu3SUnsplash1.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.rectangle38 {
  position: absolute;
  left: -108px;
  top: -13px;
  width: 516px;
  height: 880px;
  background-image: linear-gradient(200.2deg, #000f 0%, #0000 50%, #000f 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}
.gAMESETTINGS {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  font-family: LEMON MILK, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 50%;
  top: 38px;
  width: 178px;
  height: 41px;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-shadow: 0px 2px 0px #000;
  flex-direction: column;
  transform: translateX(-50%);
}
.pARTYSIZE {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  font-family: LEMON MILK, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - 90px);
  top: 152px;
  width: 122px;
  height: 34px;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-shadow: 0px 2px 0px #000;
  flex-direction: column;
  transform: translateX(-50%);
}
.rectangle39 {
  position: absolute;
  left: 225px;
  top: 152px;
  width: 106px;
  height: 34px;
  border-radius: 27px;
  background-color: #210b4f;
  box-shadow: 0px 2px 4px 0px #00000040, 0px -2px 4px 0px #00000040;
}
.ellipse39 {
  position: absolute;
  left: 231px;
  top: 156px;
  width: 26px;
  height: 26px;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
._211863_minus_round_icon1 {
  position: absolute;
  left: 237px;
  top: 162px;
  width: 14px;
  height: 14px;
}
.icon2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.ellipse40 {
  position: absolute;
  left: 299px;
  top: 156px;
  width: 26px;
  height: 26px;
  overflow: visible;
}
.icon3 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
._134224_add_plus_new_icon1 {
  position: absolute;
  left: 305px;
  top: 162px;
  width: 14px;
  height: 14px;
}
.icon4 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.unnamed {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  font-family: LEMON MILK, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 257px;
  top: 152px;
  width: 42px;
  height: 34px;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-shadow: 0px 2px 0px #000;
  flex-direction: column;
}
.rOUNDS {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  font-family: LEMON MILK, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - 104px);
  top: 265px;
  width: 94px;
  height: 34px;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-shadow: 0px 2px 0px #000;
  flex-direction: column;
  transform: translateX(-50%);
}
.rectangle392 {
  position: absolute;
  left: 225px;
  top: 265px;
  width: 106px;
  height: 34px;
  border-radius: 27px;
  background-color: #210b4f;
  box-shadow: 0px 2px 4px 0px #00000040, 0px -2px 4px 0px #00000040;
}
.ellipse392 {
  position: absolute;
  left: 231px;
  top: 269px;
  width: 26px;
  height: 26px;
  overflow: visible;
}
.icon5 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
._211863_minus_round_icon12 {
  position: absolute;
  left: 237px;
  top: 275px;
  width: 14px;
  height: 14px;
}
.icon6 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.ellipse402 {
  position: absolute;
  left: 299px;
  top: 269px;
  width: 26px;
  height: 26px;
  overflow: visible;
}
.icon7 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
._134224_add_plus_new_icon12 {
  position: absolute;
  left: 305px;
  top: 275px;
  width: 14px;
  height: 14px;
}
.icon8 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.unnamed2 {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  font-family: LEMON MILK, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 257px;
  top: 265px;
  width: 42px;
  height: 34px;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-shadow: 0px 2px 0px #000;
  flex-direction: column;
}
.duet {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  font-family: LEMON MILK, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - 122.5px);
  top: 378px;
  width: 57px;
  height: 34px;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-shadow: 0px 2px 0px #000;
  flex-direction: column;
  transform: translateX(-50%);
}
.rectangle393 {
  position: absolute;
  left: 225px;
  top: 378px;
  width: 106px;
  height: 34px;
  border-radius: 27px;
  background-color: #210b4f;
  box-shadow: 0px 2px 4px 0px #00000040, 0px -2px 4px 0px #00000040;
}
.rectangle52 {
  position: absolute;
  left: 225px;
  top: 378px;
  width: 55px;
  height: 34px;
  border-radius: 16px;
  background-color: #bea4f6;
  box-shadow: 0px 0px 4.95px 0px #6801ad, 0px 0px 9.9px 0px #6801ad, 0px 0px 34.65px 0px #6801ad,
    0px 0px 69.3px 0px #6801ad, 0px 0px 118.8px 0px #6801ad, 0px 0px 207.9px 0px #6801ad;
}
.off {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  font-family: LEMON MILK, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 225px;
  top: 378px;
  width: 55px;
  height: 32px;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-shadow: 0px 2px 0px #000;
  flex-direction: column;
}
.on {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  font-family: LEMON MILK, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 280px;
  top: 378px;
  width: 51px;
  height: 32px;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-shadow: 0px 2px 0px #000;
  flex-direction: column;
}
.teams {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  font-family: LEMON MILK, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - 113px);
  top: 491px;
  width: 76px;
  height: 34px;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-shadow: 0px 2px 0px #000;
  flex-direction: column;
  transform: translateX(-50%);
}
.rectangle394 {
  position: absolute;
  left: 225px;
  top: 491px;
  width: 106px;
  height: 34px;
  border-radius: 27px;
  background-color: #210b4f;
  box-shadow: 0px 2px 4px 0px #00000040, 0px -2px 4px 0px #00000040;
}
.ellipse393 {
  position: absolute;
  left: 231px;
  top: 495px;
  width: 26px;
  height: 26px;
  overflow: visible;
}
.icon9 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
._211863_minus_round_icon13 {
  position: absolute;
  left: 237px;
  top: 501px;
  width: 14px;
  height: 14px;
}
.icon10 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.ellipse403 {
  position: absolute;
  left: 299px;
  top: 495px;
  width: 26px;
  height: 26px;
  overflow: visible;
}
.icon11 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
._134224_add_plus_new_icon13 {
  position: absolute;
  left: 305px;
  top: 501px;
  width: 14px;
  height: 14px;
}
.icon12 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.unnamed3 {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  font-family: LEMON MILK, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 257px;
  top: 491px;
  width: 42px;
  height: 34px;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-shadow: 0px 2px 0px #000;
  flex-direction: column;
}
.rectangle7 {
  position: absolute;
  left: 103px;
  top: 604px;
  width: 154px;
  height: 43px;
  border-radius: 30px;
  background-image: linear-gradient(270deg, #3800d8ff 0%, #9200c5ff 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  box-shadow: 0px 0px 0.7214px 0px #6801ad, 0px 0px 1.4428px 0px #6801ad, 0px 0px 5.0498px 0px #6801ad,
    0px 0px 10.0996px 0px #6801ad, 0px 0px 17.3135px 0px #6801ad, 0px 0px 30.2987px 0px #6801ad;
}
.createGame {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  font-family: LEMON MILK, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 103px;
  top: 604px;
  width: 154px;
  height: 43px;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-shadow: 0px 2px 0px #000;
  flex-direction: column;
}
.vector {
  position: absolute;
  left: 7.7778%;
  right: 86.6667%;
  top: 6.25%;
  bottom: 91.625%;
  overflow: visible;
  filter: drop-shadow(0px 0px 2.0715749263763428px #6801ad) drop-shadow(0px 0px 4.1431498527526855px #6801ad)
    drop-shadow(0px 0px 14.501025199890137px #6801ad) drop-shadow(0px 0px 29.002050399780273px #6801ad)
    drop-shadow(0px 0px 49.71780014038086px #6801ad) drop-shadow(0px 0px 87.00614929199219px #6801ad);
}
.icon13 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
