<div class="dylanSauerweinUnN8fIOhqLcUnspl">
    
</div>
<div class="rectangle43">
    <button (click)="sendPhoto()" class="sUBMIT first">SUBMIT</button>
    <div class="rectangle32"></div>
    <div class="rectangle33"></div>
    <div class="rectangle34"></div>
    <div class="rectangle35"></div>
    <div class="rectangle36"></div>
    <div class="rectangle37"></div>
    <div class="or">or</div>
    <div class="vector"><img src="assets/vector-icon.svg" alt="" class="icon" /></div>
    <div class="tYPECODE">TYPE CODE:</div>
    <div class="sCANQRCODE">SCAN QR CODE:</div>
    <div class="clickHere">click here</div>
    <div class="jOINGAME">JOIN GAME</div>
    <div class="rectangle7"></div>
    <div class="vector2"><img src="assets/vector-icon2.svg" alt="" class="icon2" /></div>
</div>

