<div class="maximBergM8HFXJ1btZ0Unsplash1"></div>
<div class="rectangle43">
    <button (click)="navigateToPage5()"></button>
    <button (click)="navigateToPage5()" class=" second"></button>
</div>
<div class="joinTeam">Join Team</div>
<div class="bxArrowBack1"></div>
<div class="lOGOALONECLEAR2"></div>
<div class="rectangle54"></div>
<div class="rectangle55"></div>
<div class="blueTeam">Blue Team</div>
<div class="pinkTeam">Pink Team</div>
<div class="vector4"><img src="assets/vector-icon4.svg" alt="" class="icon4" /></div>