 <div class="liZhangWtDy3HaivJIUnsplash1"></div>
<div class="rectangle49"></div>
<div class="rectangle50"></div>
<div class="lobby">Lobby</div>
<div class="userRegular21"></div>
<div class="vector"><img src="assets/vector-iconp.svg" alt="" class="icon" /></div>
<div class="_5">3</div>
<div class="wAITINGFORPLAYERS">WAITING FOR PLAYERS...</div>
<div class="cODE4532">CODE: 4532</div>
<div class="josephGonzalezIFgRcqHznqgUnspl" [style.background-image]="'url(' + photo + ')'" ></div> 
<div class="josephGonzalezIFgRcqHznqgUnspl2" [style.background-image]="'url(' + photo2 + ')'" ></div> 
<div class="josephGonzalezIFgRcqHznqgUnspl3" [style.background-image]="'url(' + photo3 + ')'" ></div> 
<!-- <div class="nikos">Nikos</div> -->