<div class="ranking">ranking:</div>
<div class="_9">{{ totalSumdiv }}</div>
<!-- <div class="nikos">nikos</div> -->
<div class="josephGonzalezIFgRcqHznqgUnspl"></div>
<!-- <div class="_65">6.5</div> -->
<!-- <div class="nikos2">nikos</div> -->
<!-- <div class="josephGonzalezIFgRcqHznqgUnspl2"></div> -->
<!-- <div class="_75">7.5</div> -->
<!-- <div class="nikos3">nikos</div> -->
 <div class="josephGonzalezIFgRcqHznqgUnspl3"></div> 
<div class="_82">{{ totalSumdiv2 }}</div>
<!-- <div class="nikos4">nikos</div> -->
<div class="josephGonzalezIFgRcqHznqgUnspl4"></div>
 <div class="_76">{{ totalSumdiv3 }}</div>
<!-- <div class="nikos5">nikos</div>  -->
<!-- <div class="josephGonzalezIFgRcqHznqgUnspl5"></div> -->
